.pictureOfTheDay {
  height: 400px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 4px dotted #5e565a;
  margin-bottom: 20px;
  //   background-image: url("");
  //   background-size: cover;
  &__image {
    width: 20rem;
    height: auto;
  }

  &__container {
    font-size: 13px;
  }

  &__title {
    padding: 0;
    margin: 0;
  }

  &__explanation {
    padding: 1rem;
    margin: 0;
  }

  &__date {
  }

  &__btn {
    margin: 1rem;
  }
}

.API {
  margin: 5rem;
}

.liked {
  color: red;
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
  transition-duration: 0.2s, 1s;
  font-size: 25px;
}

.unliked {
  transition: all 1.5s ease;
  transition-duration: 0.2s, 1s;
  color: #5e565a;
}
